@import url("https://fonts.googleapis.com/css2?family=Itim&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
:root {
    
    --white: #FFFFFF;
    --black: #000000;
    --blue:  #0017E9;
    --gray1: #5B5B5B;
    --gray2:  #D8D8D8;
    --oswald: "Oswald";
    --roboto:"Roboto"

}
html {
    width: 100%;
    height: 100vh;
}
header {
    width: 100%;
    display: flex;
}
#cabecalho {
    font-family: var(--oswald);
    height: 12vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul{
    display: flex;
    gap: 1.5rem;
}
li {
    margin-top: 6.778vh;
    font-size: 1.5rem;
    font-weight: 500;
}
#contato{
    height: 8.444vh;  
    width: 8.125vw;
    margin-top: 4.667vh;
    margin-left: 4rem;
    background: transparent;
    border: 3px solid var(--black);
    color: var(--black);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
#contato:hover{
    background-color: var(--black);
    border-radius: 50px;
}

.contato {
    color: var(--black);
}
.contato:hover{
    color: var(--white);
}
#porto {
    margin-top: 5.111vh;
    margin-left: 14.111vh;
    color: var(--black);
    font-size: 2.5rem;
}
.menu{
    color: var(--gray1);
}
#titulo {
    font-family: var(--oswald);
    height: 103.778vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./assets/img/background\ \(1\).png);
    background-color: solid 3px var(--black);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color: var(--white);
    font-size: 6rem;
    font-weight: 700;
    margin-left: 6.5vw;
}
h1:hover{
    color: var(--gray2);
    }

.solucoes{
    color: var(--white);
    font-size: 2rem;
    font-weight: 300;
    margin-left: 6.5vw;
}
.servicos {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}
#servicos {
    height: 6.556vh;
    width: 13.073vw;
    margin-top: 2.444vh;
    border: none;
    background-color: var(--blue);
    margin-left: 7vw;
}
.gestao {
    font-family: var(--roboto);
    height: 140.778vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

.introducao {
    height: 100%;
    flex: 1; 
    width: 40%;
    margin-left: 5.885vw;
}
    h2 {
        font-family: var(--oswald);
        color: var(--blue);
        font-size: 1.5rem;
        height: 8vh;
        width: 20.073vw;
        margin-top: 7.667vh;
    }
    h3 {
        color: var(--black);
        font-size: 2.2rem;
        font-weight: 800;
        height: 10.222vh;
        margin-top: 3vh;
        width: 30.688vw;
        line-height: 6.688vh;
    }
    p {
        height: 70.333vh;
        width: 32.688vw;
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: 8vh;
        line-height: 4.5vh;
        margin-bottom: 9vh;
      }
      /*a {
        border: #000000 solid 3px;
        color: var(--blue);
        font-size: 1.5rem;
        height: 3.111vh;
        width: 9.531vw;
        font-weight: 400;
        border: solid transparent;
        border-radius: 50px;
        padding: 5px;
       
    }
   */
    a {
        color: var(--blue);
        font-size: 1.5rem;
        height: 3.111vh;
        width: 9.531vw;
        font-weight: 400;
        border: solid transparent;
        border-radius: 50px;
        padding: 5px;
    }
    a:hover{
        color: var(--white);
        background-color: #0017E9;
        
    }
    .imagem img {
    width: 35.365vw;
    height: 87vh; 
    border-radius: 3px; 
  }
}
#solucoes{
    margin: 0;
    width: 100%;
    height: 113.778vh;
    background-color: var(--gray2);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    

    #paragrafo{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        #ph2{
            color: var(--blue);
            font-family: var(--oswald);
            font-size: 1.5rem;
            font-weight: 500;
        }
        #ph3{
            height: 6vh;
            margin-top: 5.556vh;
            color: var(--black);
            font-family: var(--oswald);
            font-size: 1.5rem;
            font-weight: 500;
        }

    }
    #divs {
    display: flex;
    justify-content: space-around;
    font-family: var(--oswald);
    font-size: 1.3rem;
    color: var(--black);

    h3{ 
    font-weight: 500;
    margin-left: 1vw;
    }

    p{ 
    font-weight: 200;
    margin-left: 1vw;
    margin-top: 3vh;
    
    }
    #momento, #navios, #monitoramento{
        width: 21.115vw;
        height: 57.778vh;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        
        img{
            width: 21.115vw;
        }
    }
}
}
#atendimento{
    height: 113.778vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 4.219vw;
    
    
    h2{
        height: 7.5vh;
        width: 27.021vw;
        margin-top: 8.444vh;
        font-family: var(--oswald);
        font-weight: 500;
        font-size: 2rem;
        color: var(--blue);
        margin-left: 4.219vw;
    }
    h3 {
        margin-left: 4.219vw;
        height: 5.778vh;
        margin-top: 3.222vh;
        width: 27.896vw;
        font-family: var(--oswald);
        color: var(--black);
        font-weight: 500;
        font-size: 1.5rem;
    }

#unidades {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.formulario {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.base {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8vh;
    
    figure{
        padding-top: 5vh;
        font-family: var(--oswald);
        color: var(--black);
        font-weight: 500;
        font-size: 1.25rem;
    }
}
.formulario{

    #formulario{
        margin-top: 10.4vh;
        display: flex;
        flex-direction: column;
        border: 1px var(--black);
        font-family: var(--oswald);
        font-size: 1.5rem;
        font-weight: 300;
        

        label, input, textarea, button{
            height: 5.556vh;
            width: 17.292vw;
            margin-left: 4.219vw;
            
        }
        label{
            margin-top: 1vh;
        }
        button {
            margin-top: 10vh;
            height: 6.444vh;
            width: 17.292vw;
            font-family: var(--oswald);
            font-size: 1.5rem;
            font-weight: 500;
            background-color: var(--blue);
            border: none;

            a {
                color: var(--white);
            }
    }
   
}
}
}
.footer {
    height: 7vh;
    width: 100%;
    background-color: var(--gray2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}